.banner {
  width: 100%;
  height: 500px;
  text-align: center;
  overflow: hidden;
  position: relative;
  --perspective: 1000px;
  --rotateX: -10deg;
  --zDistance: min(350px, 40vw);
}

.banner .slider {
  position: absolute;
  width: 100px;
  height: 200px;
  top: 10%;
  left: 0;
  right: 0;
  margin-inline: auto;
  transform-style: preserve-3d;
  transform: perspective(var(--perspective));
  animation: rotateCarousel 20s linear infinite;
}

@keyframes rotateCarousel {
  from {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(0deg);
  }

  to {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0;
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: solid 2px gold;
}